LogicApp.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Filter_array": {
                "inputs": {
                    "from": "@body('Parse_JSON')?['value']",
                    "where": "@lessOrEquals(item()?['lastAccessedDate'], addDays(utcNow(), -60))"
                },
                "runAfter": {
                    "Parse_JSON": [
                        "Succeeded"
                    ]
                },
                "type": "Query"
            },
            "HTTP": {
                "inputs": {
                    "headers": {
                        "Authorization": "Basic <enter your PAT here>",
                        "content-type": "application/json"
                    },
                    "method": "GET",
                    "uri": "https://yourorg.vsaex.visualstudio.com/_apis/userentitlements?api-version=4.1-preview"
                },
                "runAfter": {},
                "type": "Http"
            },
            "Parse_JSON": {
                "inputs": {
                    "content": "@body('HTTP')",
                    "schema": {
                        "properties": {
                            "count": {
                                "type": "integer"
                            },
                            "value": {
                                "items": {
                                    "properties": {
                                        "accessLevel": {
                                            "properties": {
                                                "accountLicenseType": {
                                                    "type": "string"
                                                },
                                                "assignmentSource": {
                                                    "type": "string"
                                                },
                                                "licenseDisplayName": {
                                                    "type": "string"
                                                },
                                                "licensingSource": {
                                                    "type": "string"
                                                },
                                                "msdnLicenseType": {
                                                    "type": "string"
                                                },
                                                "status": {
                                                    "type": "string"
                                                },
                                                "statusMessage": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "extensions": {
                                            "type": "array"
                                        },
                                        "groupAssignments": {
                                            "type": "array"
                                        },
                                        "id": {
                                            "type": "string"
                                        },
                                        "lastAccessedDate": {
                                            "type": "string"
                                        },
                                        "projectEntitlements": {
                                            "type": "array"
                                        },
                                        "user": {
                                            "properties": {
                                                "_links": {
                                                    "properties": {
                                                        "avatar": {
                                                            "properties": {
                                                                "href": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "membershipState": {
                                                            "properties": {
                                                                "href": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "memberships": {
                                                            "properties": {
                                                                "href": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "self": {
                                                            "properties": {
                                                                "href": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "storageKey": {
                                                            "properties": {
                                                                "href": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "descriptor": {
                                                    "type": "string"
                                                },
                                                "displayName": {
                                                    "type": "string"
                                                },
                                                "domain": {
                                                    "type": "string"
                                                },
                                                "mailAddress": {
                                                    "type": "string"
                                                },
                                                "origin": {
                                                    "type": "string"
                                                },
                                                "originId": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "principalName": {
                                                    "type": "string"
                                                },
                                                "subjectKind": {
                                                    "type": "string"
                                                },
                                                "url": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "user",
                                        "accessLevel",
                                        "lastAccessedDate",
                                        "projectEntitlements",
                                        "extensions",
                                        "groupAssignments"
                                    ],
                                    "type": "object"
                                },
                                "type": "array"
                            }
                        },
                        "type": "object"
                    }
                },
                "runAfter": {
                    "HTTP": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {},
        "triggers": {
            "Every_7_days": {
                "recurrence": {
                    "frequency": "Day",
                    "interval": 7
                },
                "type": "Recurrence"
            }
        }
    }
}